{% extends "base.html" %}

{% block content %}
<style>
    .title {
        background-color: #b0b7ac;
        padding: 10px;
        text-align: center;
    }

    .work {
        background-color: #9bd4cf;
        padding: 10px;
        text-align: center;
    }

    .finished {
        background-color: #7dd484;
        text-align: center;
        padding: 10px;
        max-width: 70px;
    }

    .NotFinished {
        background-color: #d48e8e;
        text-align: center;
        padding: 10px;
        max-width: 70px;
    }

    table {
        padding: 2%;
        min-width: 1000px;
    }
</style>
<h2 align="center">Works log</h2>
{% for work in jobs %}
<div>
    <h3>Action #{{loop.index}}</h3>
    <table>
        <tr>
            <td class="title">Title of activity</td>
            <td class="title">Team leader</td>
            <td class="title">Duration</td>
            <td class="title">List of collaborators</td>
            <td class="title">is finished</td>
        </tr>
        <tr>
            <td class="work">{{ work.jod|capitalize }}</td>
            <td class="work">
                {{ peoples[work.team_leader].name|capitalize }}
                {{ peoples[work.team_leader].surname|capitalize }}
            </td>
            <td class="work">{{ work.work_size }} hours</td>
            <td class="work">{{ work.collaborators }}</td>
            {% if work.is_finished %}
            <td class="finished">is finished</td>
            {% elif work.is_finished == 0 %}
            <td class="NotFinished">is not finished</td>
            {% endif %}
        </tr>
    </table>
</div>
{% endfor %}
{% endblock %}
